<template>
  <div>
    <admin-navigation></admin-navigation>

    <v-main>
      <v-container>
        <router-view />
      </v-container>
    </v-main>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import AdminNavigation from '@/components/AdminNavigation.vue'

@Component({ components: { AdminNavigation } })
export default class AdminDashboard extends Vue {}
</script>
