<template>
  <v-main>
    <v-container>
      <v-form ref="form" v-model="valid" class="mt-10">
        <v-text-field
          v-model="username"
          :label="$t('username')"
          required
          :rules="requiredRule"
          filled
          prepend-inner-icon="mdi-account"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          prepend-inner-icon="mdi-lock"
          :type="showPassword ? 'text' : 'password'"
          @click:append="showPassword = !showPassword"
          :label="$t('password')"
          required
          :rules="requiredRule"
          filled
        ></v-text-field>
        <v-btn :disabled="!valid" color="secondary" @click="submit" block>
          {{ $t('login') }}
        </v-btn>
      </v-form>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import api from '@/api'

@Component
export default class Login extends Vue {
  valid = false
  username = ''
  password = ''
  showPassword = false

  requiredRule = [(v: string): string | boolean => !!v || (this.$t('field_required') as string)]

  async submit(): Promise<void> {
    const response = await api.post('/login', { username: this.username, password: this.password })
    if (response.status === 200) {
      const { token } = response.data
      localStorage.setItem('token', token)
      this.$router.push('/admin')
    }
  }
}
</script>
