<template>
  <v-navigation-drawer app dark color="primary" permanent expand-on-hover>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="text-h6"> {{ $t('admin_dashboard') }} </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense nav>
      <v-list-item v-for="menu in menus" :key="menu.title" link :to="menu.route">
        <v-list-item-icon>
          <v-icon>{{ menu.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ menu.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class AdminNavigation extends Vue {
  get menus(): { title: string; route: string; icon: string }[] {
    return [
      { title: this.$t('schedule') as string, route: '/admin/schedule', icon: 'mdi-calendar' },
      {
        title: this.$t('students') as string,
        route: '/admin/students',
        icon: 'mdi-account',
      },
      {
        title: this.$t('teachers') as string,
        route: '/admin/teachers',
        icon: 'mdi-account-tie',
      },
      {
        title: this.$t('admins') as string,
        route: '/admin/admins',
        icon: 'mdi-account-cog',
      },
      {
        title: this.$t('lessons') as string,
        route: '/admin/lessons',
        icon: 'mdi-school',
      },
      {
        title: this.$t('classes') as string,
        route: '/admin/classes',
        icon: 'mdi-account-details',
      },
      {
        title: this.$t('groups') as string,
        route: '/admin/groups',
        icon: 'mdi-account-group',
      },
      {
        title: this.$t('subjects') as string,
        route: '/admin/subjects',
        icon: 'mdi-book',
      },
      {
        title: this.$t('classrooms') as string,
        route: '/admin/classrooms',
        icon: 'mdi-home',
      },
    ]
  }
}
</script>
