<template>
  <v-app>
    <v-app-bar app dark dense color="primary">
      <v-toolbar-title> Openotes </v-toolbar-title>

      <v-spacer></v-spacer>
    </v-app-bar>

    <router-view></router-view>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'App',
  data: () => ({
    //
  }),
})
</script>
