<template>
  <div>
    <v-text-field
      v-model="studentLastname"
      :label="$t('search_for_a_student')"
      filled
    ></v-text-field>
    <v-data-table
      :headers="headers"
      :items="all.data"
      :items-per-page="15"
      :server-items-length="all.total"
      :options.sync="options"
      :loading="loading"
    ></v-data-table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { mapGetters, mapState } from 'vuex'

interface DataTableHeader {
  text: string
  value: string
  align?: 'start' | 'center' | 'end'
  sortable?: boolean
  filterable?: boolean
  groupable?: boolean
  divider?: boolean
  class?: string | string[]
  cellClass?: string | string[]
  width?: string | number
}

interface DataTableOptions {
  page?: number
  itemsPerPage?: number
  sortBy: string[]
  sortDesc: boolean[]
  groupBy?: string[]
  groupDesc?: boolean[]
  multiSort?: boolean
  mustSort?: boolean
}

@Component<AdminDashboardStudents>({
  computed: { ...mapState('students', ['all']), ...mapGetters('students', ['loading']) },
  watch: {
    options() {
      this.fetchData()
    },
    studentLastname() {
      this.fetchData()
    },
  },
})
export default class AdminDashboardStudents extends Vue {
  options: DataTableOptions = { sortBy: [], sortDesc: [] }
  studentLastname = ''

  get headers(): DataTableHeader[] {
    return ['firstname', 'lastname', 'birth_date', 'gender'].map((value) => ({
      text: this.$t(value) as string,
      value,
    }))
  }

  fetchData(): void {
    this.$store.dispatch('students/fetchAll', {
      page: this.options.page,
      limit: this.options.itemsPerPage,
      search: this.studentLastname,
      orderBy: this.options.sortBy[0],
      orderDesc: this.options.sortDesc[0],
    })
  }

  mounted(): void {
    this.fetchData()
  }
}
</script>
